<div class="row">
  <div class="large-12">
    <%= simple_form_for project do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.association :users, as: :select, label: "Team Members" %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
