<div class="row">
  <div class="large-4">
    <p>Adding new photo to <%= @project.name %>.</p>
    <%= simple_form_for [@project, @photo] do |f| %>
      <%= f.input :title %>
      <%= f.input :image %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
