<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <div class="large-12 columns">
        <div class="nav-bar right">
          <ul class="button-group">
            <li><a href="/" class="button">News</a></li>
            <li><a href="/projects" class="button">Projects</a></li>
            <% if user_signed_in? %>
              <li><a href="#" class="button">Profile</a></li>
              <li><a href="#" class="button">Account</a></li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "button" %></li>
            <% else %>
              <li><a href="#" class="button" data-reveal-id="signIn">Loggin</a></li>
              <li><a href="/users/sign_in" class="button">Login</a></li>
            <% end %>
          </ul>
        </div>
        <h1>Arksaw<small> A place for projects.</small></h1>
        <hr />
      </div>
    </div>

    <!-- End Nav -->

    <%= yield %>

    <!-- Footer -->

    <footer class="row">
      <div class="large-12 columns">
        <hr />
        <div class="row">
          <div class="large-6 columns">
            <p>&copy;2013 Arksaw Inc.</p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>   
    
    <%= javascript_include_tag "application" %>
    <%= yield :modal %>

    <% if !user_signed_in? %>
      <%= new_modal("Sign in", "signIn", render(partial: "devise/sessions/new")) %>
    <% end %>
  </body>
</html>
